# Nuget packages
*.nupkg

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio Code files
.vscode/

# Rider files
.idea/

# Cypress
cypress/videos/
cypress/screenshots/

src/ui/node_modules/